<section class="admin">
    <div class="container">
        <div class="div_content">
            <h2>Правильно!</h2>
            <div class="video_div">
                <video src="/app/pirate/media/goodAnswer{{ questionNumber }}.mp4" controls width="30%"></video>
            </div>

            <div class="question">
                <p>{{ clue }}</p>
            </div>
        </div>
    </div>
</section>