<section class="admin">
    <div class="container">
        <div class="div_content">
            <h2 id="quetsionTitle">Вступление</h2>
            <div class="video_div">
                <video src="/app/pirate/media/intro.mp4" controls class="video_player"></video>
            </div>
            <a href="/verify/nextQuestion/1" class="btn btn_send">Начать</a>
        </div>
    </div>
</section>