{% block _footer %}
    <footer class="footer">
        <div class="container">
{#            <div class="deploy">Сделано в ОСИС</div>#}
        </div>
    </footer>
    {{ headScript() }}
{% endblock %}
