{% block _head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Пиратский квест </title>
    <meta name="description" content="Пиратский квест">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ resourcebundle('pirate') }}
    {{ headStyle() }}
{% endblock %}
