{% block logoContent %}
    <header>
{#    <header class="header">#}
        <div class="container">
            <div class="header__content">
                {# Логотип #}
                <a class="header__logo" href="/">
{#                    <img class="header__logo-img" src="/app/portal/assets/images/logo.svg" alt="Logo">#}
                    <div class="header__logo-text">
                        <h2 class="header__title">Пиратский квест</h2>
                    </div>
                </a>
            </div>
        </div>
    </header>
{% endblock %}